// Colors
$white:     #fff;
$black:     #000;
$text:      #202025;
$grey:      #f1f1f4;
$lightGrey: #fafafb;
$darkGrey:  #9F9FB0;
$orange:    #f3905e;
$dolphin:   #626278;
$red:       #ff4e4e;
$green: 	#50ac87;
$yellow: 	#FFC736;
$blue:      #8692ff;

//Time
$time: .25s;